<nav class="sidebar">
  <ul>
    <li class="submenu">
      <a href="#"><span class="bi bi-rocket"></span> Mantenimiento <span class="caret"></span></a>
      <ul class="children">
        <li><a routerLink="/usuarios">Usuarios</a></li>
        <li><a routerLink="/dispatchers">Dispatchers</a></li>
        <li><a routerLink="/driver">Driver</a></li>
        <li><a routerLink="/vehicle">Vehicle</a></li>
      </ul>
    </li>
    <li class="submenu">
      <a href="#"><span class="bi bi-rocket"></span> Viajes <span class="caret"></span></a>
      <ul class="children">
        <li><a routerLink="/five-am-bos">5AM BOS</a></li>
        <li><a routerLink="/driver">5AM NY</a></li>
        <li><a routerLink="/driver">10AM BOS</a></li>
        <li><a routerLink="/driver">10AM NY</a></li>
        <li><a routerLink="/driver">2PM BOS</a></li>
        <li><a routerLink="/driver">2PM NY</a></li>
        <li><a routerLink="/driver">7PM BOS</a></li>
        <li><a routerLink="/driver">7PM NY</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="bi bi-briefcase"></span> Finanza</a></li>
  </ul>
</nav>
