html, body {
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h-full {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}
