
<body>
<div class="container">
  <div class="example-form">
    <h2 class="text-2xl font-semibold mb-4 text-center">7PM BOSTON</h2>

    <div class="mb-4">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="Acme Mfg. Co.">
    </div>

    <div class="md:flex mb-4">
      <div class="md:flex-1 md:pr-3">
        <label for="address_street">Pick-up Address</label>
        <input id="address_street" type="text" name="address_street" placeholder="Address">
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="rescue">Rescue</label>
        <select id="rescue" name="rescue">
          <option></option>
          <option>Mario</option>
          <option>Daniel</option>
          <option>Melvin</option>
          <option>Gregory</option>
          <option>Jesus V.</option>
        </select>
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="extras">Extras</label>
        <input id="extras" type="tel" name="extras" placeholder="$">
      </div>
    </div>

    <div class="md:flex mb-4">
      <div class="md:flex-1 md:pr-3">
        <label for="address_number">Drop-off Address</label>
        <input id="address_number" type="text" name="address_number" placeholder="Address">
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="rescue_2">Rescue</label>
        <select id="rescue_2" name="rescue_2">
          <option></option>
          <option>Mario</option>
          <option>Daniel</option>
          <option>Melvin</option>
          <option>Gregory</option>
          <option>Jesus V.</option>
        </select>
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="extras_2">Extras</label>
        <input id="extras_2" type="tel" name="extras_2" placeholder="$">
      </div>
    </div>

    <div class="md:flex mb-4">
      <div class="md:flex-1 md:pr-3">
        <label for="phone_1">Phone Number 1</label>
        <input id="phone_1" type="tel" name="phone_1" placeholder="(555) 555-5555">
      </div>
      <div class="md:flex-1 md:pl-3">
        <label for="phone_2">Phone Number 2</label>
        <input id="phone_2" type="tel" name="phone_2" placeholder="(555) 555-5555">
      </div>
    </div>

    <div class="md:flex mb-4">
      <div class="md:flex-1 md:pr-3">
        <label for="cd">CD</label>
        <select id="cd" name="cd">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="md:flex-1 md:pl-3">
        <label for="estatus">Estatus</label>
        <select id="estatus" name="estatus">
          <option>Positivo</option>
          <option>Cancelado</option>
          <option>Negativo</option>
          <option>Cambio 5am</option>
          <option>Cambio 10am</option>
          <option>Cambio 2pm</option>
          <option>Cambio 7pm</option>
          <option>Cambio d' día</option>
          <option># Erroneo</option>
        </select>
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="pas">PAS</label>
        <input id="pas" type="text" name="pas">
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="kp">K/P</label>
        <input id="kp" type="text" name="kp">
      </div>

      <div class="md:flex-1 md:pr-3">
        <label for="spe">SPE</label>
        <input id="spe" type="text" name="spe">
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Companies</th>
        <th>Budget</th>
        <th>Completion</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Material XD Version</td>
        <td>$14,000</td>
        <td>60%</td>
      </tr>
      <tr>
        <td>Add Progress Track</td>
        <td>$3,000</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Add Progress Track</td>
        <td>$3,000</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Add Progress Track</td>
        <td>$3,000</td>
        <td>10%</td>
      </tr>
      <!-- Más filas -->
      </tbody>
    </table>
  </div>
</div>
</body>
